<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Flingr</title>
    
    <%= stylesheet_link_tag 'blueprint/screen.css', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'blueprint/print.css', :media => 'print' %>
    <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'blueprint/ie.css', :media => 'screen, projection' %>
    <![endif]-->
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
    <div id='float'>
      <div id='header'>
        <div id='logo'>
          <h1>
            <%= link_to "Flingr", root_path %>
          </h1>
          Original
        </div>
        <div id='user_info'>
          <% if user_signed_in? %>
            <%= current_user.email %><br />
            <%= link_to "Sign Out", destroy_user_session_path %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path %> <br />
            <%= link_to "Create an Account", new_user_registration_path %>
          <% end %>
        </div>
      </div>
      <div id='container'>      
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <%- end -%>
      
        <%= yield %>
      </div>  
      <div id='footer'>
        Copyright &copy; <%= Time.now.year %> Flingr
      </div>
    </div>
  </body>
</html>
