<div class="dashboard">
 
 <h3>Dashboard</h3>
 
 <table>
   <tr>
     <th>Stats</th>
     <th>Last Week</th>
     <th>Current Week</th>
   </tr>    
   <tr>
     <td>Signups</td>
     <td><%= @last_signups %></td>
     <td><%= @current_signups %></td>
   </tr>  
   <tr>
     <td>Pro Upgrades</td>
     <td><%= @last_pros %></td>
     <td><%= @last_pros %></td>
   </tr> 
   <tr>
     <td>Total Flings</td>
     <td><%= @last_flings %></td>
     <td><%= @last_flings %></td>
   </tr>   
 </table>
</div>